<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Flask Gunicorn Bootstrap Demo</title>
        <meta name="theme-color" content="#B0197E">
        <link rel="stylesheet" href="/static/style.css" media="screen">
    </head>
    <body>
        <div class="top">
            <h1>Songs Go Brr</h1>
        </div>
        {% if songs %}
        <div id="cards">
        {% for song in songs %}
            <div class="card">
                <h2 class='title'><a href="{{ song['url'] }}">{{ song['title'] }} - {{ song['artist'] }}</a></h2>
                <hr>
                <p style="white-space: pre-wrap;">
                    {{- song.get_short_lyrics() -}}
                </p>
            </div>
        {% endfor %}
        </div>
        {% endif %}
        {% if commit_hash %}
        <div class="git">
            <p>
            <a href="https://github.com/mxmeinhold/flask-gunicorn-demo/tree/{{ commit_hash }}">Check out this project on GitHub ({{ commit_hash }})</a>
            </p>
        </div>
        {% endif %}
    </body>
</html>
