<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Lyrics DB</title>
        <meta name="theme-color" content="#B0197E">
        <link rel="stylesheet" href="/static/style.css" media="screen">
    </head>
    <body>
        <div class="top">
            <h1>{{ song['title'] }}</h1>
            <h2>{{ song['artist'] }}</h2>
        </div>
        <p class="lyrics">
            {{- song['lyrics'] -}}
        </p>
        {% if commit_hash %}
        <div class="git">
            <p>
            <a href="https://github.com/galenguyer/lyricsdb/tree/{{ commit_hash }}">Check out this project on GitHub ({{ commit_hash }})</a>
            </p>
        </div>
        {% endif %}
    </body>
</html>
