<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Lyrics DB</title>
        <meta name="theme-color" content="#B0197E">
        <link rel="stylesheet" href="/static/style.css" media="screen">
    </head>
    <body>
        <div class="top">
            <h1>Search</h1>
        </div>
        {% if songs %}
        <div id="cards">
        {% for song in songs %}
            <div class="card">
                <h2 class='title'><a href="{{ song['link'] }}">{{ song }}</a></h2>
                <a class="addbutton" href="/save?q={{ song['link'] }}">Add Song</a>
            </div>
        {% endfor %}
        </div>
        {% endif %}
        {% if commit_hash %}
        <div class="git">
            <p>
            <a href="https://github.com/galenguyer/lyricsdb/tree/{{ commit_hash }}">Check out this project on GitHub ({{ commit_hash }})</a>
            </p>
        </div>
        {% endif %}
    </body>
</html>
